body{
	background: floralwhite;
}

h1{
	color: rgb(88, 53, 7);
}

h2{
	color: rgb(127, 78, 13);
	font-weight: bold;
}

h3{
	color: saddlebrown;
	font-weight: bold;
}

table, th, td{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-color: rgb(88, 53, 7);
    padding: 6px
} 

th.one{
	color: saddlebrown;
	text-align: center;
	font-weight: bold;
}

td.three{
	text-align: center;
	font-weight: bolder;
}